{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="{% url 'landing:index' %}" class="brand-logo">Keep</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Secret</a></li>
        <li><a href="{% url 'landing:agregar' %}">Agregar Recordatorio</a></li>
      </ul>
    </div>
  </nav>
  {% block content %}

  {% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
 integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 crossorigin="anonymous"></script>
<script src="{% static 'js/materialize.js' %}"></script>

</body>
</html>